# This file defines the owners of this repository.
# For more information, see: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# All files in the repository will require approval from XotEmBotZ
*       @XotEmBotZ
